<link rel="stylesheet" href="/stylesheets/__error.css">
<div class="container">
	<h1 class="title">404</h1>
	<p class="description">The page / resource you wanted does not exist</p>
	<a href="/" class="button">Go back</a>
</div>