<link rel="stylesheet" href="/stylesheets/pages/index.css">

<header class="header">
	<p class="toggle">AM/PM</p>
</header>

<div class="container">
	<p class="clock">
		<span id="clock">00:00:00</span>
	</p>
	<p class="date">JJ/MM/YYYY</p>
</div>
<script src="/javascript/index.js"></script>